* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', 'sans-serif';
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

#root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

::-webkit-scrollbar {
  background: transparent;

  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: 1px solid #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

